header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.48);
        width: 100%;

        .logo-img {
            margin: 1.2em 1.2em .7em 1.2em;
        }
    }

    .current-location {
        display: flex;
        justify-content: center;
        background-color: #e8e8e8;
        box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.25) inset;
        width: 100%;

        i {
            color: rgb(87, 87, 87);
            margin: .75em;
            margin-right: .25em;
        }

        .location-name {
            color: rgb(87, 87, 87);
            font-weight: bold;
            margin: .75em;

        }
    }

    .blurb-header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #f2f2f2;
        width: 100%;

        h1 {
            font-size: 1.7em;
            font-weight: 900;
            text-align: center;
            margin: 1em 1em .5em 1em;
        }

        p {
            color: #4b4b4b;
            font-size: 1.2em;
            font-weight: 300;
            text-align: center;
            margin: 0 .2em 1.25em .2em;

        }

        a {
            text-decoration: none;
            display: flex;
            background: rgb(255, 121, 218);
            background: linear-gradient(180deg, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 100%);
            border-radius: 30px;
            box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.4);
            margin-bottom: 3em;
            transition-duration: 200ms;

            &:hover {
                box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.6);
            }

            span {
                font-weight: 500 bold;
                color: white;
                margin: 1em 1.2em;
            }
        }
    }
}