@import './functions';
@import './variables';

main {

    width: 100%;
    background-color: #f2f2f2;


    .restaurant-container {
        @include flexCenter(column);
        margin: 2em .5em;

        .restaurant-header {
            width: 300px;
            margin: .6em;
        }

        .restaurant-card {
            @include flexCenter(column);
            height: 250px;
            background-color: white;
            border-radius: 15px;
            margin: 2em;
        }
    }
}